body {
  padding: 2em 0;
}

.block {
  display: block!important;
  width: 100%!important;
}

textarea {
  height: 200px;
  resize: vertical;
}

.progressDialog, .button {
  position: absolute;
  top : -1000px;
  left: -1000px;
}
